// Place all the styles related to the FlashMessages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  &.edit {
    background: #efefef;
    color: #000;
    border: 1px solid #ccc;

    &:hover {
      background: #ccc;
      color: #000;
    }
  }
}


.publish {
  background: #5da423;
  border: 1px solid #457a1a;

  &:hover {
    background: #457a1a;
  }
}

.new-message {
  background: #f9edbe;
  border: 1px solid #f5e08f;
  color: #666;

  &:hover {
    background: #f3da78;
    color: #666;
  }
}

.secondary {
  background: #e9e9e9;
}

table tr th, table tr td {
  font-size: 1em;
}

.message {
  width: 40%;
}

td {
  border-bottom: 1px solid #ccc;
}

table {
  border-spacing: 0px;
}

.tv4 {
  height: 41px;
  width: 41px;
  background: image-url('tv4-logo.png') no-repeat 0px 17px;
  background-size: 55%;
}

.tv4play {
  height: 40px;
  width: 78px;
  background: image-url('tv4play-logo.png') no-repeat 0px 17px;
  background-size: 90%;
}
